@import url("css/font-awesome-4.6.3/css/font-awesome.min.css");

#log_panel input, #slave_panel input {
    min-width: 400px;
}

.dashboard-panel .dashboard-form-fieldset .splunk-choice-input,
.dashboard-panel .dashboard-form-fieldset .splunk-textinput,
.dashboard-panel .dashboard-form-fieldset .splunk-dropdown {
    padding: 0;
}

/* Master/Slave Char*/
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root{
  pointer-events: none;
}

#display-hover-name #slave-name{
    padding-left: 5px;
}