#stagetable {
  margin-left: 0px;
  //height: 700px;
}

#stagetable td {
    //border: 1px solid #666;
}

.stagetablediv {
  float: left;
}

.journey-slider {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 8px;
  height: 625px;
  padding: 0 5px;
}

.roundcorners {
  border-radius: 30px 0px 30px 0px;
}

.stageheight {
  height: 65px;
}

.journeystagename {
  font-size: 18px;
  font-weight: bold;
}

.journeystagedesc {
  font-size: 12px;
}

.stage {
  float: left;
  font-size: 12px;
  font-family: arial;
  color: #FFFFFF;
  padding: 18px;
  margin: 0px;
}

.topstagename {
  line-height: 1em;
  float: left;
  text-align: right;
  width: 235px;
  font-size: 12px;
  font-weight: bold;
  font-family: arial;
}

.stagename {
  line-height: 15.5em;
  float: left;
  text-align: right;
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  font-family: arial;
}

.stage6 {
  width: 200px;
  background-color: #937AB1;
}

.stage6dark {
  width: 200px;
  background-color: #d2cade;
}

.stage5 {
  width: 300px;
  background-color: #CD675D;
}

.stage5dark {
  width: 300px;
  background-color: #e4c3c0;
}

.stage4 {
  width: 400px;
  background-color: #F0943B;
}

.stage4dark {
  width: 400px;
  background-color: #f3d5b7;
}

.stage3 {
  width: 500px;
  background-color: #D2B630;
}

.stage3dark {
  width: 500px;
  background-color: #eae1b5;
}

.stage2 {
  width: 600px;
  background-color: #97B944;
}

.stage2dark {
  width: 600px;
  background-color: #d8e3b9;
}

.stage1 {
  width: 700px;
  background-color: #57BAD1;
}

.stage1dark {
  width: 700px;
  background-color: #b3ecff;
}

.slidercell {
  padding-right: 10px;
}

.numberCircle {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding: 0px;
  background: #777777;
  border: 0px solid #666;
  color: #ffffff;
  text-align: center;
  font: 32px Arial, sans-serif;
  float: left;
  margin-top: 40px;
}

.selectedstage {
  line-height: 1.5em;
  float: left;
  padding-right: 3px;
  margin-top: 40px;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
}

.usecasediv {
  padding-top: 50px;
  padding-bottom: 30px;
  border: 0px solid black;
  clear: both;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
}

.column {
  float: left;
  border: 0px solid black;
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.usecasetext {
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
  margin-left: 40px;
}

.flatharvey {
  margin-left: 37px;
  padding-top: 6px;
  padding-bottom: 33px;
}

.flatharveydashblue {
  width: 60px;
  height: 6px;
  background-color: #66a3ff;
  border-radius: 3px 3px 3px 3px;
  float: left;
  margin: 3px;
}

.flatharveydashgray {
  width: 60px;
  height: 6px;
  background-color: #dddddd;
  border-radius: 3px 3px 3px 3px;
  float: left;
  margin: 3px;
}

.stageinfo {
  border-radius: 25px;
  background: #ffffff;
  padding: 0px;
  width: 250px;
  margin-top: 20px;
  margin-right: 0px;
  color: #000000;
  margin-bottom: 10px;
  font-family: arial;
}

.stageinfowide {
  border-radius: 25px;
  background: #ffffff;
  padding: 0px;
  width: 1325px;
  margin-top: 10px;
  margin-right: 5px;
  color: #000000;
  margin-bottom: 10px;
  font-family: arial;
}

.stageinfoheader {
  font-size: 12px;
  font-weight: bold;
}

.stageinfocontent {
  font-size: 12px;
  font-weight: normal;
}

.datasources {
  border-radius: 25px;
  background: #ffffff;
  padding: 20px;
  width: 400px;
  height: 200px;
  margin-top: 20px;
  margin-right: 10px;
  color: #000000;
  margin-bottom: 10px;
  font-family: arial;
}

.dontshow {
  display: none;
}

.datasourcetable td{
    border: 1px solid #dddddd;
    padding: 10px;
}
