<div id="<%= token%>-tab" class="tab-pane <% if (active){ %>active<% } %>">
    <div id="<%= token%>-build-status" class="build-status-container"></div>

    <div class="build-page-panel">
        <div class="build-page-panel-inner">
            <section class="build-page-panel-item build-sidebar">
                <div id="build-info-sidebar"  class="active">
                    <h2 id='sidebar-history'>
                        <a class="build-info-tab" tabId="<%= token%>" content="history">Builds Trends</a>
                    </h2>

                    <h2 id='sidebar-summary'>
                        <a class="build-info-tab" tabId="<%= token%>" content="summary">Build Information</a>
                    </h2>
                    <h2 id='sidebar-tests'>
                        <a class="build-info-tab" tabId="<%= token%>" content="tests">Test Trends</a>
                    </h2>
                    <h2 id='sidebar-logs'>
                        <a class="build-info-tab" tabId="<%= token%>" content="logs" >Logs and Artifacts</a>
                    </h2>

                </div>
            </section>

            <section class="build-page-panel-content">

                <h2 class="build-content-title" id="<%= token%>-panel-content-title"></h2>
                <div id="<%= token%>-summary-content" class="panel-content">
                    <div class="build-content-description"></div>
                    <div class="detail-content">
                        <div class="dashboard-row build-summary-content">
                            <div class="dashboard-cell"  style="width: 100%;">
                                <div class="dashboard-panel">
                                    <div class="dashboard-element">
                                        <div class="panel-head">Build Summary</div>
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="dashboard-row build-env-content" style="display: none">
                            <div class="dashboard-cell"  style="width: 100%;">
                                <div class="dashboard-panel">
                                    <div class="dashboard-element">
                                        <div class="panel-head">Environment Variables</div>
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="dashboard-row change-log-content" style="display: none">
                            <div class="dashboard-cell"  style="width: 100%;">
                                <div class="dashboard-panel">
                                    <div class="dashboard-element">
                                        <div class="panel-head">Change Log</div>
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="<%= token%>-tests-content" class="panel-content">
                    <div class="build-content-description"></div>
                </div>
                <div id="<%= token%>-logs-content" class="panel-content">
                    <div class="<%= token%>-logs-setting-bar logs-setting-bar">
                        <div class="build-logs-setting">
                            <i class="icon-hand-up"></i>
                            <a id="<%= token%>-logs-filter">
                                Click Here
                            </a>
                        </div>
                        <div class="build-content-description"></div>
                    </div>

                    <div id="<%= token%>-logs-searchbar" class="build-logs-search-bar"></div>

                    <div id="<%= token%>-logs-events" class="build-logs-event-view"></div>
                </div>
                <div id="<%= token%>-history-content" class="panel-content">
                    <div class="build-content-description"></div>
                    <div class="trend-job-count">
                        <div class="filterset-input">
                            <label class="build-trend-job-count-title">Time</label>
                            <div id="<%= token%>-trend-job-timerange">
                            </div>
                        </div>
                        <div class="filterset-input">
                            <label class="build-trend-job-count-title">Number of builds</label>
                            <div id="<%= token%>-trend-job-count">
                            </div>
                        </div>
                    </div>
                    <div class="build-detail-loading-msg">
                        <i class="fa fa-refresh fa-spin fa-fw text-success"></i> Loading content...
                    </div>
                    <div class="build-trends dashboard-row">
                        <div class="dashboard-cell" id="<%= token%>-history-time-trend" style="width: 100%;">
                            <div class="dashboard-panel">
                                <div class="dashboard-element">
                                    <div class="panel-head"></div>
                                    <div class="panel-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-row">
                        <div class="dashboard-cell" id="<%= token%>-history-result-trend" style="width: 100%;">
                            <div class="dashboard-panel">
                                <div class="dashboard-element">
                                    <div class="panel-head "></div>
                                    <div class="panel-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="dashboard-row">
                        <div class="dashboard-cell" id="<%= token%>-history-result-overview" style="width: 100%;">
                            <div class="dashboard-panel">
                                <div class="dashboard-element">
                                    <div class="panel-head "></div>
                                    <div class="panel-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="dialog-placeholder"></div>
</div>
