<ul class="nav nav-tabs">
    <li class="active" id="builds-li">
        <a class="build-analysis-tab" type="builds" tabid="builds">Builds</a>
    </li>
</ul>
<div class="tab-content">
    <div id="builds-tab" class="tab-pane active">
        <h2 class="build-analysis-title"></h2>
        <div class="build-analysis-description"></div>
        <div class="build-analysis">
            <div id="filterset">
                <div id="jenkins-master-slave"></div>
                <div id="job-detail"></div>
            </div>
        </div>
        <div id="buildstimerangeview"></div>
        <div id="buildsview">
            <div id="buildstimelineview"></div>
            <div id="buildstable"></div>
        </div>
    </div>
</div>
