<div class="job-info-container">
    <dl class="job-info">
        <dt class="job-host">Jenkins Master</dt>
        <dd></dd>
        <dt class="job-node">Jenkins Slave</dt>
        <dd></dd>
        <dt class="job-name">Job</dt>
        <dd></dd>
        <dt class="job-type">Type</dt>
        <dd></dd>
        <dt class="job-build">Build</dt>
        <dd></dd>
        <dt class="job-trigger">Trigger</dt>
        <dd></dd>
    </dl>
</div>
<div class="duration-info-container">
    <dl class="duration-info">
        <dt class="start-date">Start</dt>
        <dd></dd>
        <dt class="queue-time">Queue Time</dt>
        <dd></dd>
        <dt class="duration">Duration</dt>
        <dd></dd>
    </dl>
</div>
<div class="scm-info-container">
    <dl class="scm-info">
    </dl>
</div>

<div class="environment-info-container">
</div>
