<div class="configuraiton-panel">
    <h2 class="panel-title">Custom Panels Wizard</h2>
    <div class="panel-description">Use this wizard to create various dashboards for displays important Jenkins data. Examples: product-abc unit tests, job a,b,c build status, etc.</div>

    <hr>
    <div class="dashboard-row clear-both">
        <div class="dashboard-cell" style="width: 25%;">
            <label style="display: inline-block">Panel Name</label>
            <span style="color:red;display: inline-block">*</span>
            <div id="input-name"></div>
            <label style="display: inline-block">Job Filter</label>
            <a class="job-filter-tooltip" style="display: inline-block">
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </a>
            <div id="input-job-filter"></div>
            <label>Time Range</label>
            <div id="input-timerange"></div>
            <br>
            <label>Charts</label>
            <div id="input-chart-option"></div>
            <label style="display: inline-block">Custom SPL</label>
            <a class="custom-spl-filter-tooltip" style="display: inline-block">
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </a>
            <div id="input-custom-spl"></div>
            <label>Refresh Frequency (minute)</label>
            <div id="input-refresh-frequency"></div>
            <button class="btn btn-primary" id="add-custom-panel-button">Add Panel</button>
            <button class="btn" id="cancel-custom-panel-button" disabled>Cancel</button>
        </div>
        <div class="dashboard-cell" style="width: 75%;">
            <label>Matched Jobs</label>
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-body" id="matched-jobs-table"></div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h3>Custom Panels</h3>
    <div class="dashboard-row clear-both">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-body" id="user-panel-table"></div>
                </div>
            </div>
        </div>
    </div>
</div>
