<ul class="nav nav-tabs">
    <li class="active" id="slaves-li">
        <a class="jenkins-slaves-tab" tabid="slaves">Slaves</a>
    </li>
</ul>
<div class="tab-content">
    <div id="slaves-tab" class="tab-pane slaves-tab-pane active">
        <h2 class="jenkins-slaves-title">Jenkins Slaves</h2>
        <div class="jenkins-slaves-description">Configure filters to return Jenkins slave matching that criteria. Click on the desired record to get detailed info about that slave.</div>
        <div class="filterset">
            <div class="filter" style="width: 500px;">
                <label style="width: 500px;">Jenkins Master
                    <a class="master-filter-tooltip">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </a>
                </label>
                <div id="jenkins-master-filter"></div>
            </div>
            <div class="filter" style="width: 300px;">
                <label style="width: 300px;">Jenkins Slave
                    <a class="slave-filter-tooltip">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </a>
                </label>
                <div id="jenkins-slave-filter" style="width: 300px;"></div>
            </div>
            <div class="filter" style="width: 300px;">
                <label style="width: 300px;">Slave Label
                    <a class="slave-label-filter-tooltip">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </a>
                </label>
                <div id="jenkins-slave-label-filter" style="width: 300px;"></div>
            </div>
        </div>

        <div id="slaves-view"></div>
        <h3 style="margin-top:30px;">Build Distribution across Slaves</h3>
        <div class="build-dist-filter-group">
            <div class="dist-filter build-dist-group-filter"></div>
            <div class="dist-filter build-dist-bar-count-filter"></div>
            <div class="dist-filter build-dist-on-slaves-timerange"></div>
        </div>
        <div id="builds-dist-view" style="clear:both;"></div>
    </div>
</div>
