<div id="overview-panel">
    <h2 class="panel-title"></h2>
    <div class="panel-description"></div>
    <hr>
    <div id="filterset"></div>
    <hr>
    <div id="overview-builds-title"></div><div id="timerange"></div>
    <div class="build-content dashboard-row">
        <div class="dashboard-row builds-daily-distribution">
            <div class="dashboard-cell" style="width: 100%;">
                <div class="dashboard-panel">
                    <div class="dashboard-element">
                        <div class="panel-head "> </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="latest-builds-title">Latest Builds</div><div id="build-update-timerange"></div>
    <div class="build-content dashboard-row">
        <div class="dashboard-row">
            <div class="dashboard-cell builds-info" style="width: 100%;">
                <div class="dashboard-panel">
                    <div class="dashboard-element">
                        <div class="panel-head"></div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="userpanels"></div>

    <!-- <hr>
    <div id="latest-builds-title">Master/Slave Topology</div>
    <div class="salve-content dashboard-row">
        <div class="dashboard-row running-salve">
            <div class="dashboard-cell" style="width: 100%;">
                <div class="dashboard-panel">
                    <div class="dashboard-element">
                        <div class="panel-head">
                            <i class="fa fa-circle" aria-hidden="true" style="color:rgb(16,119,173);"></i> Jenkins Master&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-circle" aria-hidden="true" style="color:rgb(128,128,128);"></i> Jenkins Slave - Idle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-circle" aria-hidden="true" style="color:rgb(162,204,62);"></i> Jenkins Slave - Busy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-circle" aria-hidden="true" style="color:rgb(214,86,60);"></i> Jenkins Slave - Offline&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div id="display-hover-name" style="float:right; margin-right: 20px;"></div>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
