<hr>
<div class="user-panel dashboard-row" id="<%= id%>">
    <div class="user-panel-title"><%= name%></div>
    <div class="user-panel-timerange"></div>
    <div class="dashboard-row clear-both">
        <div class="dashboard-cell build-status overview-panel-inline">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Build Status</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-cell build-trends overview-panel-inline">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Build Trends</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-cell test-trends overview-panel-inline">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Test Trends</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-cell custom-chart overview-panel-inline">
            <div class="dashboard-panel">
                <div class="dashboard-element">
                    <div class="panel-head">
                        <h3>Custom Chart</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
