.configuraiton-panel {
    position: relative;
    padding-top: 2px;
    padding-left: 19px;
    padding-right: 10px;
    padding-bottom: 20px;
}

hr{
    margin: 10px 0px 10px 0px;
    border-bottom: none;
    border-top: 1px solid #ccc;
}

.clear-both {
    clear: both;
}

#user-panel-table td[data-cell-index="4"],
#user-panel-table td[data-cell-index="5"],
#user-panel-table td[data-cell-index="6"] {
    text-align: right;
}
