html {
    height: 100%;
}

body {
    background-color: #fff;
    height: 100%;
}

h2 {
    color: #333333;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    text-transform: none;
}

.splunk-paginator {
    float: right;
}

.results-table {
    width: 100%;
}

.tab-pane {
    min-width: 1200px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.custom-filter input {
    width: 300px;
}

.test-filter {
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

.filter-mode {
    margin-top: -15px;
    margin-bottom: 15px;
    display: none;
}

.test-timerange {
    margin-top: 20px;
}

th[data-sort-key="failedsince"], td[data-cell-index="4"],
th[data-sort-key="host"], td[data-cell-index="5"],
th[data-sort-key="job_name"], td[data-cell-index="6"],
th[data-sort-key="build_number"], td[data-cell-index="7"] {
    display: none;
}

td[data-cell-index="2"], td[data-cell-index="3"] {
    width: 50px;
}

.passed-case, .failed-case, .skipped-case {
    font-size: 1.2em;
    margin: 1px;
}

.passed-case {
    color: #393;
}

.failed-case {
    color: #a00;
}

.skipped-case {
    color: #666;
}

a.failing-since-link {
    color: #a00;
}

.test-panel-inner {
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    clear: both;
}

.test-panel-content {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.horizontal-tabs>.tabs-menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.horizontal-tabs>.tabs-menu>.menu-item {
    background: #eee;
    display: block;
    float: left;
    margin: 0;
}

.horizontal-tabs>.tabs-menu>.menu-item.active-tab {
    border-bottom: 1px solid #ffffff;
    margin-bottom: -1px;
    position: relative;
}

.horizontal-tabs>.tabs-menu>.menu-item>a {
    display: block;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding: 4px 10px 3px 10px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.46;
}

.horizontal-tabs>.tabs-menu>.menu-item:first-child {
    margin-left: 20px;
}

.horizontal-tabs>.tabs-menu>.menu-item:first-child a {
    border-top-left-radius: 3px;
    border-left: 1px solid #cccccc;
}

.horizontal-tabs>.tabs-menu>.menu-item:last-child a {
    border-top-right-radius: 3px;
}

.horizontal-tabs>.tabs-menu>.menu-item>a strong {
    font-weight: normal;
}

.horizontal-tabs>.tabs-menu .menu-item.active-tab a, .horizontal-tabs>.tabs-menu .menu-item.active-tab a:link, .horizontal-tabs>.tabs-menu .menu-item.active-tab a:visited, .horizontal-tabs>.tabs-menu .menu-item.active-tab a:focus, .horizontal-tabs>.tabs-menu .menu-item.active-tab a:hover, .horizontal-tabs>.tabs-menu .menu-item.active-tab a:active {
    background: #ffffff;
    color: #333333;
}

.horizontal-tabs>.tabs-menu .menu-item a, .horizontal-tabs>.tabs-menu .menu-item a:link, .horizontal-tabs>.tabs-menu .menu-item a:visited {
    background: #e9e9e9;
    color: #333333;
}

.horizontal-tabs>.tabs-menu .menu-item a:focus, .horizontal-tabs>.tabs-menu .menu-item a:hover {
    background: #ffffff;
    color: #333333;
}

ul.tabs-menu {
    border-bottom: 1px solid #ccc;
}

.tabs-pane {
    display: none;
    padding-top: 20px;
}

.active-pane {
    display: block;
}

.panel-description {
    margin-bottom: 20px;
}

.defects-tab-description, .tests-defect-title, .test-results-description {
    padding-left: 20px;
    margin-bottom: 5px;
}

.test-filter-container, .test-filter-container-advanced {
    height: 80px;
}

.select2-results {
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}


/*Hide clipboard button*/
a.clipboard-btn {
    display: none;
}

/*For test trends*/
.test-trend-header{
    padding-bottom: 20px;
}

ul.tests-summary {
    list-style: none;
    margin: 20px 0 0 0;
    overflow: hidden;
    padding: 0;
    font-size: 14px;
    display: inline;
}

ul.tests-summary li {
    float: left;
    margin: 0 40px 0 0;
    padding: 0;
}


.test-trends-info {
    padding-left: 20px;
}

.test-results-report {
    display: none;
}

.test-results-report a{
    margin-top: -10px;
}

.filterset-input {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: top;
}